.html {
  scroll-behavior: smooth;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.description {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
  margin-top: 120px;
  margin-bottom: 200px;
  position: fixed;
}

.menuFruit {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 120px;
}

.menuText {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 22px;
  font-weight: 400;
  font-family: "montserrat";
  z-index: 2;
  margin-top: -80px;
  color: rgba(163, 160, 156, 0.505);
}

.mixCLoudPlayerWrapper {
  margin-bottom: 50px;
  margin-left: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 22px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.listenSection {
  background-image: url("../../public/fruitFrost.png");
  background-color: black;
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 140px 20px 120px 260px;
}

.footerWrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: black;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  right: 0;
}

.footerWrapper ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.footerText {
  color: rgb(83, 71, 89);
  margin-right: 30px;
  font-size: 12px;
}
